<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titulo</key>
		<string>Primera necesidad (comida, higiene...)</string>
		<key>presupuesto</key>
		<integer>0</integer>
		<key>presupuestoPendiente</key>
		<integer>0</integer>
		<key>gastado</key>
		<integer>0</integer>
		<key>porcentaje</key>
		<integer>0</integer>
		<key>fechaReset</key>
		<string></string>
		<key>fechaUpdate</key>
		<date>2010-11-22T15:11:41Z</date>
		<key>ultimoGasto</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>titulo</key>
		<string>Gastos fijos (hipoteca, coche, adls...)</string>
		<key>presupuesto</key>
		<integer>0</integer>
		<key>presupuestoPendiente</key>
		<integer>0</integer>
		<key>gastado</key>
		<integer>0</integer>
		<key>porcentaje</key>
		<integer>0</integer>
		<key>fechaReset</key>
		<string></string>
		<key>fechaUpdate</key>
		<date>2010-11-22T15:11:41Z</date>
		<key>ultimoGasto</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>titulo</key>
		<string>Gasolina/Trasporte</string>
		<key>presupuesto</key>
		<integer>0</integer>
		<key>presupuestoPendiente</key>
		<integer>0</integer>
		<key>gastado</key>
		<integer>0</integer>
		<key>porcentaje</key>
		<integer>0</integer>
		<key>fechaReset</key>
		<string></string>
		<key>fechaUpdate</key>
		<date>2010-11-22T15:11:41Z</date>
		<key>ultimoGasto</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>titulo</key>
		<string>Ocio</string>
		<key>presupuesto</key>
		<integer>0</integer>
		<key>presupuestoPendiente</key>
		<integer>0</integer>
		<key>gastado</key>
		<integer>0</integer>
		<key>porcentaje</key>
		<integer>0</integer>
		<key>fechaReset</key>
		<string></string>
		<key>fechaUpdate</key>
		<date>2010-11-22T15:11:41Z</date>
		<key>ultimoGasto</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>titulo</key>
		<string>Caprichos (ropa,tecnología...)</string>
		<key>presupuesto</key>
		<integer>0</integer>
		<key>presupuestoPendiente</key>
		<integer>0</integer>
		<key>gastado</key>
		<integer>0</integer>
		<key>porcentaje</key>
		<integer>0</integer>
		<key>fechaReset</key>
		<string></string>
		<key>fechaUpdate</key>
		<date>2010-11-22T15:11:41Z</date>
		<key>ultimoGasto</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>titulo</key>
		<string>Ahorro</string>
		<key>presupuesto</key>
		<integer>0</integer>
		<key>presupuestoPendiente</key>
		<integer>0</integer>
		<key>gastado</key>
		<integer>0</integer>
		<key>porcentaje</key>
		<integer>0</integer>
		<key>fechaReset</key>
		<string></string>
		<key>fechaUpdate</key>
		<date>2010-11-22T15:11:41Z</date>
		<key>ultimoGasto</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
